main {
    margin: 40px 60px 120px 60px;
    width: 66%;
    float: left;
    display: block;
}

.secondary {
    padding-top: 2em;
    padding-right: 3em;
    width: 23.5%;
    float: right;
    clear: none;
}

.stick {
    position: sticky;
    top: 15px;
}

ul.subnav>.current_page_item>a {
    color: #3d3d3d;
    font-family: "Libre Baskerville", "Times New Roman", "serif";
    font-size: 3em;
    margin-bottom: 200px;
    padding-bottom: 200px;
}

ul.subnav,
ul.subnav ul {
    margin-left: 0;
    padding: 0;
    list-style: none;
    position: fixed;
}

ul.subnav a {
    display: block;
    position: fixed;
}

ul.subnav ul a {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 2em;
    padding: 5px;
    -webkit-font-smoothing: antialiased;
    color: #a51417;
}

.children li {
    padding: 30px 0px;
}

.widget-area a {
    text-decoration: none;
    position: fixed;
}